[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pyjwt = "*"
flask-cors = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
rope = "*"
ipython = "*"
coverage = "*"
pytest-cov = "*"
yapf = "*"

[requires]
python_version = "3.9"
